html,
body {
	height: 100%;
	font-size: 16px;
	font-family: "Baskerville",Georgia,serif;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	width: 1.25rem; /* Tailwind's width-5 */
	height: 1.25rem; /* Tailwind's height-5 */
	border: 1px solid #bbb; /* Tailwind's border color */
	border-radius: 0.25rem; /* Tailwind's rounded */
	background-color: white;
	cursor: pointer;
	position: relative;
}

/* Checkbox checked state */
input[type="checkbox"]:checked {
	background-color: #006ae2; /* Tailwind's background color */
	border-color: #006ae2;
}

/* Checkmark inside the checkbox */
input[type="checkbox"]:checked::after {
	content: '✔';
	color: white;
	font-size: 1rem; /* Adjust as needed */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	height: 100%;
	/*min-height: 100%;*/
	display: flex;
	flex-direction: column;
	margin: 0px auto;

	.box {
		text-align: center;
		font-family: "Baskerville",Georgia,serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.header {
		/* background-color: white; */
		/* min-height: 250px; */
		z-index: 9999;
		/* background-image: url('/static/img/header2.jpg'); */
	}

	

	.main {
		background-color: white;
		flex: 1;
		overflow-y: auto;
	}

	.footer {
		/* background-color: white; */
		min-height: 100px;
		z-index: 9999;
		/* background-image: url('/static/img/header1.jpg'); */
	}

	

	.mainContent {
		height: 100%;
		text-align: left;
	}
}
.header_bg {
	background-image: url('/static/img/header2.jpg');
}
.footer_bg {
	background-image: url('/static/img/header1.jpg');
}

.gjs-link-box {
	color: inherit;
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	max-width: 100%;
	text-decoration: none;
}

.gjs-link {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	margin-left: 10px;
	margin-right: 10px;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 0;
	align-self: center;

}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	/* padding:10px 0;*/
}

.gjs-button {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-color: #676059;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 10px;
	font-size: 1.1rem;
	text-align: center;
}

.gjs-text-blue {
	color: var(--primary-600);
}

.gjs-link:hover {
	color: var(--primary-600);
	text-decoration: underline;
}

.gjs-icon {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	vertical-align: middle;
	fill: currentColor;
	width: 50px;
	height: 50px;
}

.gjs-icon.gjs-feature-icon {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: var(--primary-600);
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

@media (max-width:600px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	.gjs-grid-row {
		flex-direction: column;
	}

	#iyd2 {
		flex-direction: row;
	}

	#it00l {
		flex-direction: row;
	}
}

@media (max-width:768px) {
	#iffs {
		display: none;
	}
}

#floatingMenu {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	/* backdrop-filter:blur(13px);*/
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
	/*heigth: 30 px;*/
	background-image: ;
}

/* .logo {
	height: 70px;
} */


/* Dropdown Button */
.dropbtn {
	font-family: sans-serif;
	font-size: 16px;
	height: 60px;
	font-weight: bold;

	border: none;
	cursor: pointer;
	background-color: white;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
	background-color: white;
	color: var(--primary-600);
	text-decoration: underline;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	position: absolute;
	/* background-color: white; */
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 10px 10px;
	z-index: 1001;
}

/* Links inside the dropdown */
.dropdown-content a {
	/* color: black; */
	padding: 12px 0px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}


.dropbtn:hover:after {}

.dropbtn:focus:after {}


/****************** CHANGES *************************/


/* my_style.css | http://127.0.0.1:8000/static/css/my_style.css */

.two_columns {
	display: flex;
	flex: 1 1 auto;
	min-height: 200px;
}

#my-mirador {
	max-height: calc(100% - 60px);
}


/* menu.css | http://127.0.0.1:8000/static/css/menu.css */

.two_columns {
	height: 100%;
	max-height: calc(100% - 80px);
	overflow: hidden;
    margin-top: 30px;
}

/* Element | http://127.0.0.1:8000/static/main_new.html?p=manuscript&id=2#featur */

.subPage {
	height: 100%;
	max-height: calc(100% - 10px);
}

/* Element | http://127.0.0.1:8000/static/main_new.html?p=manuscript&id=2#featur */

.subPage>div:nth-child(1) {
	height: 100%;
}

.caudex-regular {
	font-family: "Caudex", serif;
  }
  .caudex-bold {
	font-family: "Caudex", serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .roboto-cen {
	font-family: "Roboto Condensed", sans-serif;
  }
  
  .young-serif {
	font-family: "Young Serif", serif;
  }
  
  .fira-sans {
	font-family: "Fira Sans", sans-serif;
  }
  