
    <div class="container-fluid px-4" x-init="manuscript_init()">
        <h1 class="mt-4">Manuscript - <strong x-text="(await getMSInfo()).manuscript.name"></strong></h1>

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"><a href="/manuscripts/">< See all Manuscripts</a></li>
        </ol>

        <div class="container" style="min-height: 75vh; min-width: 100%">

            <div class="container__left">
                <div x-show="(await getMSInfo()).manuscript.iiif_manifest_url == 'None'">
                    <div>
                        <div x-show="(await getMSInfo()).manuscript.image == ''">
                                <!--<p> No iiif preview </p>-->
                        </div>

                        <div x-show="(await getMSInfo()).manuscript.image != ''">
                        
                                <img style="max-height: 100%; max-width:100%; margin:auto; position: relative" x-bind:src="'/media/'+(await getMSInfo()).manuscript.image"></img>
                                <!-- <div id="my-mirador" style="height: 100%; width:100%; margin:auto; position: relative"></div>-->

                        </div>
                    </div>
                </div>

                <div id="my-mirador" x-show="(await getMSInfo()).manuscript.iiif_manifest_url != 'None'"  style="max-height: 100%; max-width:100%; margin:auto; position: relative">
                </div>
            </div>
            
            <div class="resizer" id="dragMe"></div>
            
            <div class="container__right">
                <!--
                <div class="wrap-collabsible">
                    <input id="collapsible1" class="toggle" type="checkbox" checked>
                    <label for="collapsible1" class="lbl-toggle">Main info</label>
                    <div class="collapsible-content">
                    -->
                <div x-data="{ open: false }">
                    <button @click="open = ! open" class="toggle" x-bind:opened="open">Main info</button>
                    
                    <div x-show="open" x-transition x-transition:enter.scale.80 x-transition:enter.duration.1500ms x-transition.scale.origin.top>

                            <template x-for="(fvalue, fname) in (await getMSInfo()).manuscript">
                                <tr>
                                    <span x-text="fvalue"></span>

                                    <th><div class="field-name"><span x-text="fname"></span></div></th>
                                    <td>
                                        <span x-text="fvalue"></span> <!-- <a data-popup="yes" href="{{ ms_comment_add_url_with_parameters }}{{ field }}">+</a>-->
                                        <template x-for="comment in (await getMSInfo()).debate">
                                        
                                            <template x-if="comment.field_name == fname">
                                                <a class="debate-link" x-bind:href="'#debate-'+comment.id" x-bind:title="comment.text">*</a>
                                            </template>

                                        </template>
                                    </td>
                                </tr>
                            </template>


                            <tr>
                                <th>number of parchment folios</th>
                                <td>{{ codicology.number_of_parchment_folios }} </td>
                            </tr>
                            <tr>
                                <th>number of paper leaves</th>
                                <td>{{ codicology.number_of_paper_leaves }} </td>
                            </tr>
                            <tr>
                                <th>page size max height</th>
                                <td>{{ codicology.page_size_max_height }} </td>
                            </tr>
                            <tr>
                                <th>page size max width</th>
                                <td>{{ codicology.page_size_max_width }} </td>
                            </tr>
                            <tr>
                                <th>parchment thickness</th>
                                <td>{{ codicology.parchment_thickness }} </td>
                            </tr>

                        </table>

                        <h4>Attribute debate:</h4>
                        <ul>
                            <template x-for="(comment) in (await getMSInfo()).debate">
                                <div>
                                    <li>
                                        According to 
                                        <div x-bind:id="'#debate-'+comment.id"><b x-text="comment.bibliography "></b>,
                                        <u x-text="comment.field_name"></u> is: <b  x-text="comment.text "></b></div>
                                    </li>
                                    <a class="debate-link" x-bind:href="'#debate-'+comment.id" x-bind:title="comment.text">*</a>
                                </div>
                            </template>

                        </ul>

                    </div>
                </div>

                    <!--
                    </div>
                </div>
                -->


                <br />

                <div x-data="{ open: false }">
                    <button @click="open = ! open" class="toggle" x-bind:opened="open">Codicology and paleography</button>
                    
                    <div x-show="open" x-transition x-transition:enter.scale.80 x-transition:enter.duration.1500ms x-transition.scale.origin.top>
                        <div>
                            <table>
                                {% for field, value in codicology.items %}
                                    <tr>
                                        <th><div class="field-name">{{ field }}</div></th>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </table>


                            <div x-data="{ open2: true }">
                                <button @click="open2 = ! open2" class="toggle" x-bind:opened="open2">Layouts</button>
                                
                                <div x-show="open2" x-transition x-transition:enter.scale.80 x-transition:enter.duration.1500ms x-transition.scale.origin.top>
                                
                                    <table>
                                        <table id="datatablesSimple">
                                            <thead>
                                                <tr>
                                                    <th>Graph</th>
                                                    <th>Where in MS From</th>
                                                    <th>Where in MS To</th>
                                                    <th>How many columns</th>
                                                    <th>Lines per page maximum</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for l in layouts %}
                                                <tr>
                                                <td><img style="max-width: 100px; height: auto; " src="/media/{{ l.graph_img }}"></td>
                                                {% comment %}<!--<td>{{ l.where_in_ms_from | foliation }}</td>
                                                <td>{{ l.where_in_ms_to  | foliation}}</td>-->{% endcomment %}
                                                <td>{{ l.where_in_ms_from  }}</td>
                                                <td>{{ l.where_in_ms_to  }}</td>
                                                <td>{{ l.how_many_columns }}</td>
                                                <td>{{ l.lines_per_page_maximum }}</td>                                      </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div x-data="{ open: false }">
                    <button @click="open = ! open" class="toggle" x-bind:opened="open">Content</button>
                    
                    <div x-show="open" x-transition x-transition:enter.scale.80 x-transition:enter.duration.1500ms x-transition.scale.origin.top>

                        <div>
                            <table x-init="t= $($el).DataTable(); t.columns(0).search(manuscriptId).draw()" id="content" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/content/?format=datatables">
                                <thead>
                                    <tr>
                                    <th data-data="manuscript">Manuscript</th>
                                    <th data-data="formula">Formula (standarized)</th>
                                    <th data-data="formula_text">Formula (text from MS)</th>
                                    <th data-data="similarity_levenshtein">Similarity (levenshtein)</th>
                                    <th data-data="similarity_by_user">Similarity (by user)</th>
                                    <th data-data="rite_name_from_ms">Rite name from MS</th>
                                    <th data-data="sequence_in_ms">Sequence in MS</th>
                                    <th data-data="where_in_ms_from">Where in MS (from)</th>
                                    <th data-data="where_in_ms_to">Where in MS (to)</th>
                                    <th data-data="contributor">Contributor</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div x-data="{ open: false }">
                    <button @click="open = ! open" class="toggle" x-bind:opened="open">Music Notation</button>
                    
                    <div x-show="open" x-transition x-transition:enter.scale.80 x-transition:enter.duration.1500ms x-transition.scale.origin.top>

                        <div>
                            <table>
                                <tr>
                                    {% for key, value in music_notation.0.items %}
                                        <th><div class="field-name">{{ key }}</div></th>
                                    {% endfor %}
                                </tr>
                                {% for row in music_notation %}
                                    <tr>
                                        {% for key, value in row.items %}
                                            <td>{{ value }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>
                <div x-data="{ open: false }">
                    <button @click="open = ! open" class="toggle" x-bind:opened="open">Provenance</button>
                    
                    <div x-show="open" x-transition x-transition:enter.scale.80 x-transition:enter.duration.1500ms x-transition.scale.origin.top>
                        <div>
                            <table>
                                <tr>
                                    {% for key, value in provenance.0.items %}
                                        <th><div class="field-name">{{ key }}</div></th>
                                    {% endfor %}
                                </tr>
                                {% for row in provenance %}
                                    <tr>
                                        {% for key, value in row.items %}
                                            <td>{{ value }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                            
                            {% if markers %}
                            <div id="map"></div>
                            <script>
                                var map = L.map('map').setView([51.505, -0.09], 13);
                                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                    maxZoom: 19,
                                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                }).addTo(map);

                                allMarkers = []

                                {% for m in markers %}
                                    var marker = L.marker([{{ m.lat }}, {{ m.lon }}]).addTo(map);
                                    marker.bindPopup("<b>{{ m.name }}</b>");//.openPopup();
                                    allMarkers.push(marker)
                                {% endfor %}

                                var group = new L.featureGroup(allMarkers);
                                map.fitBounds(group.getBounds());

                            </script>
                        </div>
                    </div>
                </div>

                <div x-data="{ open: false }">
                    <button @click="open = ! open" class="toggle" x-bind:opened="open">Bibliography</button>
                    
                    <div x-show="open" x-transition x-transition:enter.scale.80 x-transition:enter.duration.1500ms x-transition.scale.origin.top>
                        <div>
                            {% for zoteroItem in zotero %}
                                {{ zoteroItem |safe }}
                                <br />
                            {% endfor %}

                        </div>
                    </div>
                </div>


                <!-- Use the URL pattern for the specific table view -->
                <table id="musicTable">
                    <thead>
                        <tr>
                            {% for key in music_notation.0.keys %}
                                <th><div class="field-name">{{ key }}</div></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <script>
                    window.addEventListener('DOMContentLoaded', event => {
                        const table = document.getElementById('musicTable');
                
                        if (table) {
                            const dt = new simpleDatatables.DataTable(table, { 
                                perPageSelect: [10, 25, 50, 100, 250, 500, 1000],
                                labels: {
                                    placeholder: 'Search...'
                                },
                                perPage: 1000,
                                fixedColumns: false,
                                data: {
                                    headings: [],
                                    data: [],
                                },
                                fetchData: (table, url, callBack) => {
                                    fetch(url)
                                        .then(response => response.json())
                                        .then(data => {
                                            console.log('FETCH finish. Data:');
                                            console.log(data)
                                            callBack(data.rows);
                                        });
                                },
                                afterRender: (table) => {
                                    console.log('AFTER Render. Table:');
                                    console.log(table);

                                    const headerRow = table.tHead.querySelector('tr');
                                    const headers = table.config.data.headings;
                                    headers.forEach(header => {
                                        const th = document.createElement('th');
                                        th.textContent = header;
                                        headerRow.appendChild(th);
                                    });
                                }
                            });
                
                            dt.on('datatable.init', function() {
                                // Dynamically extract the instance ID from the current URL
                                const urlParams = new URLSearchParams(window.location.search);
                                const pathArray = window.location.pathname.split('/');
                                const your_instance_id = pathArray[pathArray.length - 2];  // Assuming 'pk' is the second-to-last element
                                                
                                if (your_instance_id) {
                                    fetch(`/ms_music_notation/${your_instance_id}/`, {
                                        method: 'GET',
                                        headers: {
                                            'X-Requested-With': 'XMLHttpRequest'
                                        },
                                    });
                                } else {
                                    console.error('Instance ID not found in the URL.');
                                }
                            });
                        }
                    });
                </script>
            </div>
        </div>
    </div>